{% extends 'base.html.twig' %}

{% block title %}Administration | Log in{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


    <h1>Please sign in</h1>
    <label for="inputAdminName">Admin Name</label>
    <input type="text" value="{{ last_username }}" name="adminName" id="inputAdminName" autocomplete="adminName" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button type="submit">
        Sign in
    </button>
</form>
{% endblock %}
