<nav>

    <div class="img-block">
        <a href="#">
            <img src="{{ asset('img/public/icc_abj_logo.jpg') }}" alt="impact_centre_chretien_abidjan_logo">
        </a>

    </div>

    <div>
        <a href="#" class="link--purple">Notre église</a>
    </div>

    <div>
        <a href="#" class="link--purple">Qui somme nous ?</a>
    </div>

    <div>
        <a href="#" class="link--purple">Espace média</a>
    </div>

    <div>
        <a href="#" class="link--purple">Servir</a>
    </div>

    <div>
        <a href="#" class="link--purple">Faire un don</a>
    </div>

    <div class="link--red">
        <a href="#">
            <i class="bi bi-camera-video-fill"></i>En Direct
        </a>
    </div>
</nav>
